.article-box
    display: flex
    flex-wrap: wrap

    &>.left-menu
        width: 20%
        background-color: rgb(46, 46, 141)

        & a
            color: white
            text-decoration: none

            &:hover
                text-decoration: underline

    &>.article-content
        width: 80%
        padding: 10px
        box-sizing: border-box