table
    border-collapse: collapse


td, th
    padding: 10px 5px
    border-bottom: 2px solid #37B5A5

tr  
    &:nth-child(2n)
        background-color: #2c3949

    &:hover
        background-color: rgb(72, 133, 168)

        
th
    color: orange