extends ../article-base.pug

block article
	h1 Типы спутников
	ol
		li астрономические спутники — спутники, предназначенные для исследования планет, галактик и других космических объектов;
		li биоспутники — спутники, предназначенные для проведения научных экспериментов над живыми организмами в условиях космоса;
		li спутники дистанционного зондирования Земли;
		li метеорологические спутники — спутники, предназначенные для передачи данных в целях предсказания погоды, а также для наблюдения климата Земли;
		li малые спутники — спутники малого веса (менее 1 или 0,5 тонн) и размера. Включают в себя миниспутники (более 100 кг), микроспутники (более 10 кг) и наноспутники (легче 10 кг), в том числе кубсаты и покеткубы;
		li военные спутники (см. космическое оружие) — разведывательные спутники и т.п.;
		li спутники связи;
		li навигационные спутники;
		li космические корабли — пилотируемые космические аппараты;
		li орбитальные станции — долговременные космические корабли.
		