extends ../article-base.pug

block article
	h1 История
	p Первый в мире ИСЗ запущен в СССР 4 октября 1957 года (Спутник-1).
		| Второй страной, запустившей ИСЗ, стали США 1 февраля 1958 года (Эксплорер-1).
		| Третьей страной, выведшей первый ИСЗ на своей РН, стала Франция 26 ноября 1965 года (Астерикс).
		| Следующие страны — Великобритания, Канада, Италия — запустили свои первые ИСЗ в 1962, 1962, 1964 гг. соответственно на американских РН.
		| Австралия и ФРГ обзавелись первыми ИСЗ в 1967 и 1969 гг. соответственно также с помощью РН США.
		| На своих РН запустили свои первые ИСЗ Япония, Китай, Израиль в 1970, 1970, 1988 гг.
		| Ряд стран — Великобритания, Индия, Иран, а также Европа (межгосударственная организация ESRO, ныне ESA) — запустили свои первые ИСЗ на иностранных носителях, прежде чем создали свои РН. Первые ИСЗ многих стран были разработаны и закуплены в других странах (США, СССР, Китае и др.).
