extends ../article-base.pug

block article
	h1 Немного о спутниках
	p <b>Искусственный спутник</b> — космический аппарат или любой иной искусственный объект, движущийся по орбите вокруг какого-либо небесного тела. Спутники бывают военные, исследовательские, метеорологические, геолокационные, спутники связи, широковещательные, навигационные.
	p Для движения по орбите вокруг Земли аппарат должен иметь начальную скорость, равную или большую первой космической скорости. Полёты ИСЗ выполняются на высотах до нескольких сотен тысяч километров. Нижнюю границу высоты полёта ИСЗ обуславливает необходимость избегания процесса быстрого торможения в атмосфере. Период обращения спутника по орбите в зависимости от средней высоты полёта может составлять от полутора часов до нескольких лет. Особое значение имеют спутники на геостационарной орбите, период обращения которых строго равен суткам и поэтому для наземного наблюдателя они неподвижно «висят» на небосклоне, что позволяет избавиться от поворотных устройств в антеннах.
	p Под понятием спутник, как правило, подразумеваются беспилотные космические аппараты (КА), однако околоземные пилотируемые и автоматические грузовые космические корабли, а также орбитальные станции также являются ИСЗ.
		