extends ../base.pug

block variables
	- let active_index = -1;

block styles
	link(rel="stylesheet", href="css/info.css")

block content
	h1 Венера-9
	div.info-box-1
		div.text-box-1
			p <b>«Венера-9»</b> — автоматическая межпланетная станция (АМС) СССР, предназначенная для изучения Венеры в рамках программы «Венера».
			p Однотипна с АМС «Венера-10» и запускалась с ней параллельно. Поэтому их полёты и приземления порой рассматриваются как единая миссия.
			p «Венера-9» запущена 8 июня 1975 года с помощью ракеты-носителя «Протон-К» с разгонным блоком ДМ.
			p Посадка на поверхность Венеры 22 октября 1975 года, связь со спускаемым аппаратом поддерживалась 53 минуты. Были получены первые в мире панорамные изображения, переданные с поверхности другой планеты. Впервые были проведены измерения скорости ветра на поверхности планеты. Первый в мире искусственный спутник Венеры.
		div.image-box-1
			img(src="img/Venera9.jpg")
	
	div.info-box-2
		div.image-box-2
			img(src="img/Venera9 photo.png")
		div.text-box-2
			p <i>Первое в истории фото поверхности Венеры</i></p>
		
	