extends ../base.pug

block variables
	- let active_index = 1;

block styles
	link(rel="stylesheet", href="css/table.css")

block scripts
	script(type="text/javascript", src="js/table_data.js")
	script(type="text/javascript", src="js/table.js")
	script(type="text/javascript", src="js/graph.js")

block content
	h1 Список спутников

	div.manage-data
		div.graph.manage-data-item
			h2 График
			form(name="graph")
				table
					tr
						th Значениe по оси OX
						th Результат
					tr
						td
							input(type="radio" name="ox" value="Год" checked) 
							| Год<br>
							input(type="radio" name="ox" value="Страна") 
							| Страна<br>
							input(type="radio" name="ox" value="Цель") 
							| Цель<br>
						td
							input(type="radio" name="oy" value="Число запусков" checked) 
							| Число запусков<br>
							input(type="radio" name="oy" value="Статус") 
							| Статус<br>
				input(type="button" value="Построить график", onclick="onDrawGraphClicked(this.form)")

		div.filter.manage-data-item
			h2 Фильтр
			form(name="filter")
				p
					label(for="yFrom") Год: 
					br
					| от:
					input(type="number" name="yFrom") 
					br
					| до:
					input(type="number" name="yTo")
				p
					label(for="name") Название:
					br
					input(type="text" name="name")
				p
					label(for="city") Ракета-носитель:
					br
					input(type="text" name="carrier")
				p
					label(for="country") Страна:
					br
					input(type="text" name="country")
				p
					label Статус:
						br
						select(name="status")
							option(value="Any") Любой
							option(value="Success") Success
							option(value="Failure") Failure
							option(value="Partial success") Partial success
							option(value="Partial failure") Partial failure
							option(value="En route") En route
				p
					label(for="target") Цель:
					br
					input(type="text" name="target")
				p
					label(for="mass") Максимальная масса:
					br
					input(type="number" name="mass")
		div.sort.manage-data-item
			h2 Сортировка
			form(name="sort")
				p Первый уровень:
					select(name="sortFirst")
						option(value="-1") Не сортировать
						option(value="0") Год
						option(value="1") Название
						option(value="2") Ракета-носитель
						option(value="3") Страна
						option(value="4") Статус
						option(value="5") Цель
						option(value="6") Масса
					br
					| по убыванию? 
					input(type="checkbox" name="descFirst")
				p Второй уровень:
					select(name="sortSecond")
						option(value="-1") Не сортировать
						option(value="0") Год
						option(value="1") Название
						option(value="2") Ракета-носитель
						option(value="3") Страна
						option(value="4") Статус
						option(value="5") Цель
						option(value="6") Масса
					br
					| по убыванию? 
					input(type="checkbox" name="descSecond")
				p Третий уровень:
					select(name="sortThird")
						option(value="-1") Не сортировать
						option(value="0") Год
						option(value="1") Название
						option(value="2") Ракета-носитель
						option(value="3") Страна
						option(value="4") Статус
						option(value="5") Цель
						option(value="6") Масса
					br
					| по убыванию? 
					input(type="checkbox" name="descThird")   

	svg

	- let headers = ["Год", "Название", "Ракета-носитель", "Страна", "Статус", "Цель", "Масса, кг."]
	table#satellite-table
		thead 
			tr
				each header in headers
					th #{header}
		tbody
	